/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --color-white: #FFFFFF;
    --color-gray: #F9F8FB;
    --color-purple: #E8E5F9;
    --color-gray: #989BB4;
    --color-dark: #14132B;
    --color-blue: #7863F9;
    --color-orange: #EE9C50;
    --color-border: #E2E8EB;
}