.content__cards__black--card {
    color: var(--color-white);
    background-color: var(--color-dark);

    &__plan--description {
        color: var(--color-gray);
    }

    &__list {
        li {
            &::before {
                color: var(--color-dark);
            }
        }
    }

    &__button {
        background-color: var(--color-blue);

        &:hover {
            background-color: #9180FF;
        }

        &:active {
            background-color: #6A53F4;
        }
    }
}