.cards-component {
    margin-top: 2.95em;
    margin-inline: 1.5em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1em;


    & &__card {
        min-height: 414px;
        background-color: white;
        border: 1px solid var(--color-border);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.8em 2em;

        
    }

    & &__plan {
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: -0.7px;
    
    }

    & &__price {
        margin-top: 0.05em;
        font-size: 3rem;
        display: flex;
        

        &::before {
            content: '$';
            font-weight: 600;
            font-size: 1rem;
            margin-top: 0.4em;
        }

        &::after {
            content: '/year';
            font-size: 1rem;
            align-self: flex-end;
            margin-bottom: 0.4em;
            color: var(--color-gray);
        }
    }

    & &__plan-description {
        margin-top: 1em;
        letter-spacing: -0.15px;
        line-height: 1.35;
        font-weight: 400;
        color: var(--color-gray);

    }

    & &__list {
        list-style-type: none;
        margin-top: 1.1em;

      

        & li {
            display: flex;
            align-items: center;
            margin-bottom: 0.6em;
            letter-spacing: -0.15px;

            &::before {
                font-size: 0.6rem;
                content: '✓';
                display: block;
                margin-right: 1.1em;
                height: 1rem;
                min-width: 1rem;
                background-color: var(--color-orange);                    border-radius: 50%;
                color: var(--color-white);
                display: grid;
                place-content: center;
            }
        }
    }

    & &__button {
        margin-top: auto;
        margin-bottom: 0.15em;
        font-size: 0.875rem;
        color: var(--color-white);
        text-align: center;
        text-decoration: none;
        border-radius: 16px;
        padding: 1.1em;
        background-color: var(--color-dark);
        transition: 0.2s;
        &:hover {
            background-color: #393850;
        }

        &:active {
            background-color: #060613;
        }


    }
        .cards-component-black{
            @extend .cards-component__card;
            color: var(--color-white);
            background-color: var(--color-dark);
        
            &__list {
                li {
                    &::before {
                        color: var(--color-dark);
                    }
                }
            }
        
            &__button {
                background-color: var(--color-blue);
        
                &:hover {
                    background-color: #9180FF;
                }
        
                &:active {
                    background-color: #6A53F4;
                }
            }
        }
        @media screen and (max-width: 280px){
            margin-inline: 0.75em;
            & &__card{
                padding-inline: 1em;
            }
        }
        @media screen and (min-width: 650px) and (max-width: 968px) {
            margin-inline: 5em;
            margin-top: 2.9em;
            gap: 1em;
            & &__card {
                display: grid;
                grid-template-areas:
                    "plan price"
                    "plan--description price"
                    "list button"
                ;
                grid-template-rows: 30px 70px 1fr;
                grid-template-columns: 4fr 6fr;
                min-height: auto;
                height: 278px;
            }
            & &__plan{
                grid-area: plan;
            }
            & &__price{
                grid-area: price;
                justify-self: end;
                align-self: start;
                margin-top: -0.15em;
                letter-spacing: -0.3px;
            }
            & &__plan-description {
                grid-area: plan--description;
                margin-top: 0.45em;
            }
            & &__list {
                grid-area: list;
                align-self: start;
                margin-top: 0.2em;
                & li{
                    margin-bottom: 0.7em;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            & &__button {
                grid-area: button;
                margin-top: 0;
                margin-bottom: 0.1em;
                width: 71%;
                align-self: end;
                justify-self: end;
            }
        }
    
        @media screen and (min-width: 968px) {
    
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            max-width: 1004px;
            margin-top: 2.9em;
            margin-inline: auto;
        }
    
}